<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spam Filter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="cont">
        <h1>Spam Filter</h1>
        <form method="POST" action="/predict">
            <abel for="message">Enter your message:</label><br>
            <input type="text" id="message" name="message"><br><br>
            <!-- <button type="Submit">Submit</button> -->
        </form>
        <h3>{{prediction}}</h3>
    </div>
    
</body>
</html>
